@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url(./reset.css);

.search-container {
  background-image: url(./images/pattern-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 26.6rem;
}
.search-container-header {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-top: 3rem;
  text-align: center;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
#search-input {
  width: 45rem;
  height: 4.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 2rem;
  border: none;
}
#search-input:focus {
  outline: none;
}
.search-btn {
  height: 4.5rem;
  width: 4rem;
  border-radius: none;
  background-color: hsl(0, 0%, 17%);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box {
  display: flex;
  cursor: pointer;
}
.btn-arrow {
  width: 2.6rem;
  height: 2.6rem;
  color: white;
}

.txt {
  text-transform: uppercase;
  color: hsl(0, 0%, 59%);
}
.value {
  color: hsl(0, 0%, 17%);
  font-size: 1.8rem;
}
.information-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-family: "Rubik", sans-serif;
  background-color: white;
  border-radius: 0.7rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: -8.5rem;
  top: 19.3rem;
  z-index: 1;
  width: 65rem;
  height: 13.6rem;
}
#map {
  width: 100%;
  height: calc(100vh - 26.7rem);
  z-index: 0;
}

.ip-address-div,
.location-div,
.timezone-div,
.isp-div {
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-color: hsl(0, 0%, 59%);
}
.isp-div {
  border: none;
}
